doctype html
html(lang="en")
  head
    title Flash Cards
    style
        include style.css
  body
    header
        h1 Flash Cards
    section#content
        h3= prompt
        p 
            i Hint: #{hint}
    footer
        p An app to help you study